body {
    display: grid;
    grid-template-columns: 1fr 1500px 1fr;

}

html {
    max-width: 2000px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

header {
    grid-column: 2;
    height: 115px;
}

.login_bar {
    grid-column: 2;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    margin-right: 100px;
}

.login_bar>a {
    text-decoration-line: none;
    color: gray;
}

main {
    grid-column: 2/3;
    margin-top: 100px !important;
    width: 650px;
    height: 800px;
    background-color: #FFEFD5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px #eaeaea;
}

.main_font {
    font-size: 20px;
    font-weight: 600;
}

.product_create {
    width: 500px;
    margin: auto;
}

.btn-success {
    margin-top: 10px;
    margin-bottom: 10px;
}